body{
    width: 98%;
    height: 97vh;
    background-origin: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .2)),
    url(background22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: body 0s linear infinite;
}

@keyframes body {
    0%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .2)),
        url(background22.jpg);
    }
    35%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .2)),
        url(background22.jpg);
    }
    55%{
        background-image: linear-gradient(rgba(245, 245, 229, 0.8)), rgba(0, 0, 0, .2),
        url(background22.jpg);
    }
    65%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .2)),
        url(background22.jpg);
    }
    80%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .2)),
        url(background22.jpg);
    }
    100%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .2)),
        url(background22.jpg);
    }
}


.logo{
    background: none;
    translate: 0px 0px;
    position: relative;
    width: 50px;
    height: 50px;
    border-top: 8px solid #ea4335;
    border-right: 8px solid blue;
    border-bottom: 8px solid #ea4335;
    border-left: 8px solid green;
    background-color: goldenrod;
    animation: logo2 5s linear;
    animation: logo .7s linear infinite;
}
@keyframes logo {
    from{
        border-radius: 50%;
        transform: rotateY(35deg);
    }
    to{
        border-radius: 50%;
        transform: rotateY(-35deg);
    }
}


.logo::before{
    content: "";
    position: fixed;
    background: blue;
    width: 25px;
    height: 8px;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}

.logo::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 7.5px;
    top: -6px;
    right: -8px;
    border-top: 20px solid transparent;
    border-right: 30px solid goldenrod;
}

.border{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    box-shadow: inset -30px 0 30px 16px goldenrod,
    0 0 8px silver;
}

.ul{
    display: flex;
    text-align: center;
    translate: 120px -100px;
    border-bottom: 2px inset goldenrod;
    border-radius: 10px;
    width: 260px;
    height: 70px;
}


/*fi div color*/



.red{
    translate: -60px 30px;
    display: inline-block;
    position: absolute;
    margin: 0px 125px;
    font-size: 27px;
    font-family: sans-serif;
}

.red:hover{
    translate: -60px 30px;
    display: inline-block;
    margin: 0px 125px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.yellow{
    translate: -160px 30px;
    display: inline-block;
    position: absolute;
    margin: 0px 125px;
    font-size: 27px;
    font-family: sans-serif;
}

.yellow:hover{
    translate: -160px 30px;
    display: inline-block;
    margin: 0px 125px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.green{
    translate: 70px 30px;
    display: inline-block;
    position: absolute;
    margin: 0px 125px;
    font-size: 27px;
    font-family: sans-serif;
}

.green:hover{
    translate: 70px 30px;
    display: inline-block;
    margin: 0px 125px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



a{
    text-decoration: none;
    color: goldenrod;
    border-radius: 10px;
}

a:hover{
    background: none;
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img{
    position: absolute;
    top: 50%;
    right: 30%;
    margin: auto;
    background: none;
}



.circle{
    display: grid;
    align-items: center;
    translate: 420px;
    border: none;
    border-radius: 50px 50px 0px 120px;
    box-shadow: inset 0 0 3px 0 rgb(66, 66, 118);
    border-bottom: 2px inset rgb(66, 66, 118);
    width: 420px;
    height: 420px;
    animation: circle .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes circle {
    from{
        border: none;
        text-shadow: 0 0 20px white;
        transform: rotateY(15deg) rotateX(-15deg);
        filter: hue-rotate(360deg);
    }
    to{
        text-shadow: 0 0 20px white;
        transform: rotateX(15deg) rotateY(-15deg);
        filter: hue-rotate(-360deg);
    }
}

.h1{
    text-align: center;
    font-size: 37px;
    font-family: monospace;
    font-style: italic;
    font-weight: 900;
    color: aquamarine;
    animation: text-1 2s linear infinite;
}
@keyframes text-1{
    from{
        filter: hue-rotate(360deg);
    }
}
